Package: info.bochs.location
Name: location
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ryan Hileman
Author: Ryan Hileman
Section: Tweaks
