Package: info.bochs.location-sentry
Name: Location Sentry
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Per-app Location Service indicators in the app switcher.
Maintainer: Ryan Hileman
Author: Ryan Hileman
Section: Tweaks
